<div class="top-alert">
  ❤️ <b>40% OFF</b> para o Dia dos Namorados ❤️
</div>

<header>
  <!-- Ícone do menu hambúrguer -->
  <div class="menu-icon" (click)="toggleMenu()">☰</div>

  <!-- Logo central -->
  <div class="logo">
    <a href="/inicio"><img src="logoLoveLink.png" alt="Logo" /></a>
    
  </div>

  <!-- Menu de navegação lateral (mobile) -->
  <nav class="nav-links" [ngClass]="{ 'active': menuAberto }" id="navLinks">
    <span class="close-btn" *ngIf="menuAberto" (click)="toggleMenu()">×</span>
    <a href="/inicio">Início</a>
    <a href="/contato">Suporte</a>
    <a href="/areaParceiro">Trabalhe Conosco</a>
  </nav>
</header>