<app-header></app-header>
<div class="checkout-container">

  <div class="checkout-content" *ngIf="!registroCompleto && valorPlanoSelecionado" >
    <div class="container-left">
      <div class="container-resumo">
        <button (click)="revisar()" class="btn-editar"><i class="fas fa-arrow-left"></i> Editar página</button>
        <h2>Resumo do Pedido</h2>
        <p>Revise a sua página antes do pagamento</p>
          <div class="resumo">
            <h4> <i class="fas fa-shopping-cart"></i> Página LoveLink | Plano {{planoSelecionado}}</h4>
            <h4>R$ {{valorPlanoSelecionado}}0</h4>
          </div>
          <div class="total">
            <span>Total: </span>
            <span>R$ {{valorPlanoSelecionado}}0</span>
          </div>
      </div>
      <h3>Página Finalizada.</h3>
      <p style="margin-top: -8px;">Agora é só realizar o pagamento para receber o link e QrCode de acesso à sua nova página personalizada !</p>
      <p>Tanto pagamentos via Pix quanto via Cartão de crédito são processados e protegidos com o Mercado Pago</p>
    </div>
    
    <div class="container-pagamento">
      <h2>Método de pagamento</h2>
      <p>Escolha a melhor forma de realizar o pagamento</p>

    <!-- PIX Option -->
      <div class="payment-option">
        <div class="option-header"  (click)="togglePix()">
          <span><i class="fas fa-qrcode"></i> Pix</span>
          <span [class.rotated]="pixOpen">▼</span>
        </div>
       <div class="option-content" *ngIf="pixOpen">
          <form (ngSubmit)="gerarPix()" class="form-pix" #pixForm="ngForm" *ngIf="!qrCodeBase64">
            <h3>CPF</h3>
            <input type="text" [(ngModel)]="cpf" name="cpf" placeholder="Ex: 999.999.999-99" required />
            <h3>Nome</h3>
            <input type="text" [(ngModel)]="nome" name="nome" placeholder="Ex: Matheus Ribeiro" required />
            <button class="confirm-button" type="submit">Gerar QrCode <i class="fas fa-qrcode"></i></button>
           
          </form>
           <p style="color: rgb(124, 124, 124);"><i class="fas fa-lock"></i> Pagamento seguro com Mercado Pago</p>

          <div *ngIf="qrCodeBase64" class="container-pix-qrcode">
            <h4>Escaneie ou copie o código e realize o pagamento com o aplicativo do seu banco</h4>
            <img [src]="'data:image/png;base64,' + qrCodeBase64" alt="QR Code PIX" />
            <p style="text-align: center; font-size: 9px"><strong></strong> {{ qrCode }}</p>
            <button class="btn-copiar" (click)="copiarCodigoPix()">Copiar</button>
            
          </div>
        </div>
      </div>

      <!-- Cartão Option -->
      <div class="payment-option" >
        <div class="option-header" (click)="toggleCartao()">
          <span><i class="far fa-credit-card"></i>   Cartão de Crédito</span>
          <span [class.rotated]="cartaoOpen">▼</span>
        </div>
        <div class="option-content" *ngIf="cartaoOpen">
          <div id="cardPaymentBrick_container"></div>
          <p style="color: rgb(124, 124, 124);"><i class="fas fa-lock"></i> Pagamento seguro com Mercado Pago</p>
        </div>
      </div>
      <div class="message">
        <p>Ao realizar o pagamento você concorda com a <a href="/privacidade">Política de privacidade</a> e os <a href="/termos">Termos de Uso</a></p>
      </div>
    </div>
  </div>
  <div class="confirmacao" *ngIf="pagamentoAprovado">
  <h2>Parabéns, {{primeiroNome}} ❤️</h2>
  <h3>Sua página está pronta e o seu pagamento foi aprovado com sucesso!</h3>
  <p>Você receberá em seu email a confirmação da compra junto com o link e QrCode de acesso da sua nova página personalizada!</p>
   <i class="fa fa-check-circle" style="color: #4CAF50; font-size: 80px;"></i>
    <p>Mais instruções foram enviadas também ao seu Email.</p>
  <!-- Exibir link personalizado + QR -->
</div>
  <div class="confirmacao" *ngIf="registroCompleto && !pagamentoAprovado">
    <h2>Pronto, {{primeiroNome}} ❤️</h2>
    <h3>Sua página personalizada está pronta e o pagamento está em andamento.</h3>
    <p>Você poderá acompanhar o status do seu pagamento através do seu email e assim que for aprovado, receberá o link e o QrCode de acesso para a sua página!</p>
    <i class="fas fa-hourglass-half" style="color: #ac9200; font-size: 80px;"></i>
    <p>Mais instruções foram enviadas também ao seu Email.</p>
  </div>
</div>

<div class="espaco" *ngIf="!pagamentoAprovado"></div>
<div class="espaco" *ngIf="!pagamentoAprovado"></div>
<div class="espaco" *ngIf="!pagamentoAprovado" ></div>
<div class="espaco" *ngIf="!pagamentoAprovado"></div>
<div class="espaco" *ngIf="!pagamentoAprovado"></div>
<div class="espaco" *ngIf="!pagamentoAprovado"></div>
<div class="espaco"></div>
<div class="espaco"></div>
<app-footer></app-footer>

 