<app-header></app-header>
<div class="body-area">
    <div class="area-content">
        <div class="container-user">
            <h2><i class="fa-solid fa-user"></i> {{parceiro.nome}}</h2>
            <button (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair</button>
        </div>
        <div class="container-criar">
            <button>+ Criar Página</button>
        </div>
        <div class="grid-paginas">
            <div class="card-pagina">
                
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>