<app-header></app-header>
<div class="body-area">
    <div class="area-content">
        <div class="container-user">
            <div class="leftPainel">
                  <div class="container-criar">
                    <button (click)="goToCadastroParceiro()">+ Criar nova Página</button>
                </div>
            </div>
            <div class="middlePainel">
                <div class="container-dados">
                    <div class="division2">
                          <h4>Faturamento Total:</h4>
                             <span>R$ {{faturamentoTotal  | number:'1.2-2'}}</span>
                    </div>
                     <div class="division2">
                          <h4>Quantidade de páginas criadas:</h4>
                             <span>{{qntPaginas}}</span>
                    </div>
                  
                </div>
            </div>
            <div class="rightPainel">
                    <h2><i class="fa-solid fa-user"></i>   <span style="font-size: 1.2rem !important;">      Cestas Mazul</span></h2>
                    <button (click)="logout()"><i class="fas fa-sign-out-alt"></i> </button>
            </div>
            
        </div>
        
        <div class="grid-paginas">
            <div class="card-pagina" *ngFor="let pagina of listaPaginas">
                <div class="left">
                    <img [src]="pagina.imagens[0]" alt="">
                </div>
                <div class="right">
                      <h2>{{pagina.nomeCasal}}</h2>
                    <a href="https://lovelink-frontenddeploy.vercel.app/{{pagina.slug}}/{{pagina.id}}">https://lovelink-frontenddeploy.vercel.app/{{pagina.slug}}/{{pagina.id}}</a>
                    <div class="division">
                        <button (click)="redirectToEdit(pagina.slug, pagina.id)"><i class="fas fa-pen"></i></button>
                        <p>{{pagina.dataCriacao | date:'dd/MM/yyyy' }}</p>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>