<app-header></app-header>
<div class="body-login">
    <div class="login-container">
        <div class="login-left">
            <h2>Olá Parceiro :)</h2>
            <form (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                <label for="email">E-mail</label>
                <input id="email" type="email" name="email" [(ngModel)]="email" placeholder="Digite seu e-mail" />
                <div class="error" *ngIf="!email">
                    Informe um e-mail válido.
                </div>
                </div>

                <div class="form-group">
                <label for="senha">Senha</label>
                <input id="senha" type="password"  name="senha" [(ngModel)]="senha" placeholder="Digite sua senha" />
                <div class="error" *ngIf="!senha">
                    A senha é obrigatória.
                </div>
                </div>

                <button type="submit" [disabled]="email==='' && senha === ''">
                      <span *ngIf="!carregandoLogin" style="color: white"> Entrar</span>
                        <span *ngIf="carregandoLogin">
                        <span class="spinner"></span> 
                        </span>
                   </button>

                <div class="form-footer">
                <a href="#">Esqueceu a senha?</a>
                </div>
            </form>
            <p class="message" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
        <div class="login-right">
            <h1>Ainda não é um parceiro LoveLink?</h1>
            <p>Aumente o seu faturamento incorporando as nossas páginas personalizadas aos seus produtos. <br>Você paga aqui um valor reduzido exclusivo para parceiros e oferece aos seus clientes o QrCode pelo preço que julgar ideal!</p>
            <p><br>Preencha o seu Email abaixo para que possamos entrar em contato, tirar dúvidas e cadastrarmos as suas credenciais de acesso.</p>
             <form (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                
                <input id="email" *ngIf="!mensagemEnviada" type="email" [(ngModel)]="emailNovo" placeholder="Informe seu e-mail" />
                
                <button type="submit" (click)="enviaSolicitacao()" *ngIf="!mensagemEnviada" class="btn-msg" [disabled]="email!=='' && senha !== ''">Enviar Mensagem</button>
                <p *ngIf="mensagemEnviada" style="color: gray">Sua solicitação foi enviada com sucesso, em breve entraremos em contato via <b>{{emailNovo}}</b></p>

          
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>